header {
    background-color: #424E61;
    color: white;
{cabecalho
}
.cabecalho-imagem {
    width: 20%;
}
.cabecalho {
    background-color: #424E61;
    color: #331963
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}